# Composer dependencies
/vendor/

# Environment files
/.env

# WordPress uploads (don’t version user media)
web/app/uploads/

# Sage theme node_modules / build files
web/app/themes/Amal_Sage/node_modules/
web/app/themes/Amal_Sage/dist/
web/app/themes/Amal_Sage/public/
web/app/themes/Amal_Sage/.cache/

# Logs
npm-debug.log
*.log

# OS / editor files
.DS_Store
Thumbs.db
.idea/
.vscode/
