# Application
web/app/plugins/*
!web/app/plugins/.gitkeep
!web/app/plugins/amal-auth/
!web/app/plugins/amal-profile-management/
!web/app/plugins/amal-store/
!web/app/plugins/amal-social/
web/app/mu-plugins/*/
web/app/themes/twentytwentyfive/
web/app/upgrade
web/app/uploads/*
!web/app/uploads/.gitkeep
web/app/cache/*

# Sage theme build and node modules
web/app/themes/Amal_Sage/node_modules/
web/app/themes/Amal_Sage/public/build/

# WordPress
web/wp
web/.htaccess

# Logs
*.log

# Dotenv
.env
.env.*
!.env.example

# Composer
/vendor
auth.json

# WP-CLI
wp-cli.local.yml
